*{
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  font-family: 'Righteous', cursive;

}
header{
  background-color:#070D13;
  border-bottom: 5px double #FFE81F ;
  height: 140px;
  text-align: center;
}
#head{
  width: 100%;
}
h1{
  text-align: center;
  width: 100%;
  top: 10px;
  position: relative;
  font-size: 80px;
  color: #070D13;
  font-weight: bolder;
  letter-spacing: 10px;
  text-shadow: 0 0 8px #FFE81F, 0 0 8px #FFE81F; 
  
}
h2{
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #FFE81F;
  letter-spacing: 5px;

}
#h2{
  margin-bottom: 75px;
}
.playerImages{
  height: 300px;
  margin-top: 25px;
  margin-bottom: 300px;
}
img{
  display: grid;
  background-color: #1A1F26;
  width: 100%;
  height: 100%;
  border: 5px solid #FFE81F;
}
.images{
  margin-left: 7.5%;
  width: 300px;
  height: 300px;
  float: left;
  margin-bottom: 150px;
}
.figimages{
  margin-left: 7.5%;
  width: 300px;
  height: 300px;
  float: left;
  margin-bottom: 150px;
}
.lb{
  width: 100%;
  font-size: 20px;
  color: #070D13;
  background-color: #FFE81F;
  text-align: center;
  clear: both;
}
h3{
  color: #FFE81F;
  margin-bottom: 25px;
}
#fight{
  width: 100%;

}
.fightColumn{
  text-align: center;
  margin-left: 8%;
  width: 15%;
  float: left;
  margin-bottom: 300px;
  border-left: 5px solid #FFE81F;
}
.imagesFight{
  float: left;
  width: 300px;
}
button{
  width: 300px;
  height: 35px;
  margin-left: 7.5%;
  margin-bottom: 15px;
  background-color: #FFE81F;
  border-color: #070D13;
}
button:hover{
  transform: scale(1.05);
}
h4{
  font-size: 15px;
}
Footer{
  width: 100%;
  clear: both;
  bottom: 0;
  position: fixed;
  background-color: #070D13;
  height: 70px;
}
#foot{
  color: #FFE81F;
  letter-spacing: 2px;
  border-top: 5px double #FFE81F;
  padding-top: 40px;
  text-align: center;
}
.fighter:hover{
  transform: scale(1.05);
}
.avail:hover{
  transform: scale(1.05);
}
.marbot{
  margin-bottom: 73px;
}
@media only screen and (max-width:770px){
  header{
    white-space: normal;
    width: 375;
  }
  h1{
    font-size: 40px;
    width: 100%;
  }
  h2{
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #h2{
    margin-bottom: 10px;
  }
  body{
    width: 100%;
  }
  #start{
    width: 100%;
    text-align: center;
  }
  body{
    width: 100%;
  }
  .images{
    margin-left: 15%;
    width: 70%;
  }
  .avail{
    margin-bottom: 20px;
  }
  .figimages{
    width: 70%;
    height: width;
    margin-bottom: 0px;
  }
  .pick{
    height: 252px;
  }
  .playerImages{
    width: 50%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #pL{
    margin-bottom: 75px;
  }
  #pHS{
    margin-bottom: 75px;
  }
  #pV{
    margin-bottom: 75px;
  }
  #pP{
    margin-bottom: 200px;
  }
  button{
    margin-left: 0;
    margin-right: 0;
    width:70%;
  }
  Footer{
    width: 100%;

  }
  h4{
    width: 100%;
    text-align: center;
  }
  .fightContainer{
    width: 100%;
    margin-left: 5%;
  }
  .fightColumn{
    margin-bottom: 100px;
    min-height: 600px;
    margin-left: 0;
    width: 50%;
    display: block;
  }
  .fightPic{
    height: 250px;
  }
}
@media only screen and (max-width:400px){
  
  .fightPic{
    height: 118px;
  }
  .playerImages{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}