*{
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  font-family: 'Righteous', cursive;

}
header{
  white-space: nowrap;
  background-color:#070D13;
  border-bottom: 5px double #FFE81F ;
  height: 140px;
  text-align: center;
}
#head{
  width: 100%;
}
h1{
  text-align: center;
  width: 100%;
  top: 10px;
  position: relative;
  font-size: 80px;
  color: #070D13;
  font-weight: bolder;
  letter-spacing: 10px;
  text-shadow: 0 0 8px #FFE81F, 0 0 8px #FFE81F; 
  
}
h2{
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #FFE81F;
  letter-spacing: 5px;

}
#h2{
  margin-bottom: 75px;
}
.playerImages{
  height: 300px;
  margin-top: 25px;
  margin-bottom: 300px;
}
img{
  display: grid;
  background-color: #1A1F26;
  width: 100%;
  height: 100%;
  border: 5px solid #FFE81F;
}
.images{
  margin-left: 7.5%;
  width: 300px;
  height: 300px;
  float: left;
  margin-bottom: 150px;
}
.figimages{
  margin-left: 7.5%;
  width: 300px;
  height: 300px;
  float: left;
  margin-bottom: 150px;
}
.lb{
  width: 100%;
  font-size: 20px;
  color: #070D13;
  background-color: #FFE81F;
  text-align: center;
  clear: both;
}
h3{
  color: #FFE81F;
  margin-bottom: 25px;
}
#fight{
  width: 100%;

}
.fightColumn{
  text-align: center;
  margin-left: 8%;
  width: 15%;
  float: left;
  margin-bottom: 300px;
  border-left: 5px solid #FFE81F;
}
.imagesFight{
  float: left;
  width: 300px;
}
button{
  width: 300px;
  height: 35px;
  margin-left: 7.5%;
  margin-bottom: 15px;
  background-color: #FFE81F;
  border-color: #070D13;
}
button:hover{
  transform: scale(1.05);
}
h4{
  font-size: 15px;
}
Footer{
  width: 100%;
  clear: both;
  bottom: 0;
  position: fixed;
  background-color: #070D13;
  height: 70px;
}
#foot{
  color: #FFE81F;
  letter-spacing: 2px;
  border-top: 5px double #FFE81F;
  padding-top: 40px;
  text-align: center;
}
.fighter:hover{
  transform: scale(1.05);
}
.avail:hover{
  transform: scale(1.05);
}
.marbot{
  margin-bottom: 73px;
}
@media only screen and (max-width:1300px){
  .playerImages{
    height: 700px;
    margin-left: 8%;
  }
  .figimages{
    width: 100%;
    height: 120px;
    margin-bottom: 200px;
  }
  button{
    width:100%;
  }
}