*{
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url(../images/bg.png);
  background-repeat: repeat;
  font-family: 'Righteous', cursive;

}
header{
  white-space: nowrap;
  background-color:#070D13;
  border-bottom: 5px double #FFE81F ;
  height: 140px;
  text-align: center;
}
#head{
  width: 100%;
}
h1{
  text-align: center;
  width: 100%;
  top: 10px;
  position: relative;
  font-size: 80px;
  color: #070D13;
  font-weight: bolder;
  letter-spacing: 10px;

  text-shadow: 0 0 8px #FFE81F, 0 0 8px #FFE81F; 
  
}
h2{
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: #FFE81F;
  letter-spacing: 5px;

}
img{
  background-color: #1A1F26;
  margin-top: 50px;

  width: 300px;
  height: 300px;
  border: 5px solid #FFE81F;
}
.images{
  margin-left: 7.5%;
  float: left;
}
.lb{
  font-size: 20px;
  color: #070D13;
  background-color: #FFE81F;
  padding-top: 3px;
  padding-bottom: 5px;
  text-align: center;
  clear: both;
}